*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0;
}
table{
    font-size: 1.3rem;
    justify-self: center;
    margin-bottom: 1.5rem;
    background-color: burlywood;
}
table, th, td {
    border: .2rem solid black;
    border-collapse: collapse;
    padding: .3rem 1.5rem;
}
a{
    text-decoration: none;
}
button{
    width: 8em;
    background-color: cadetblue;
    height: 2rem;
    justify-self: center;
    display: block;
}
button:hover{
    background-color: darkcyan;
}