*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0;
}
div{
    justify-content: space-between;
    display: flex;
    font-size: 1.3rem;
    padding: .6rem 0;
}
button{
    width: 8em;
    background-color: cadetblue;
    height: 2rem;
    justify-self: center;
    display: block;
}
p{
    display: flex;
    justify-self: center;
    font-size: 1rem;
    color: red;
    padding-bottom: .5rem;
}
button:hover{
    background-color: darkcyan;
}