<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <link th:href="@{/css/all-accounts.css}" rel="stylesheet" />
</head>
<body style="background-color: lightyellow; padding: 5vh 10vw;">
<h1>Accounts</h1>
<table>
    <thead>
    <tr>
        <th>Sr. No.</th>
        <th>E-mail</th>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account, accStat : ${allAccounts}">
        <td th:text="${accStat.count}"></td>
        <td th:text="${account.email}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.balance}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">
    <button>Home</button>
</a>
</body>
</html>